{% set NAMESPACE = properties['namespace'] or 'default' %}
{% set PDNAME = properties['pd-name'] or properties['name'] %}
kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ properties['name'] }}
  namespace: {{ NAMESPACE }}
spec:
    capacity:
        storage: {{ properties['capacity'] }}
    gcePersistentDisk:
        pdName: {{ PDNAME }}
    accessModes:
        - ReadWriteOnce
        - ReadOnlyMany
    persistentVolumeReclaimPolicy: Retain
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ properties['name'] }}
  namespace: {{ NAMESPACE }}
spec:
  accessModes:
    - ReadWriteOnce
    - ReadOnlyMany
  resources:
    requests:
      storage: {{ properties['capacity'] }}
