{% set NAMESPACE = properties['namespace'] or 'default' %}
{% set CLUSTER_CONFIG = properties['cluster_config'] or 'tensorflow-cluster-config' %}
kind: Service
apiVersion: v1
metadata:
  namespace: {{ NAMESPACE }}
  name: jupyter
spec:
  ports:
    - name: jupyter
      port: 8888
    - name: tensorboard
      port: 6006
  selector:
    tensorflow: jupyter
  type: LoadBalancer
---
kind: ReplicationController
apiVersion: v1
metadata:
  name: jupyter
  namespace: {{ NAMESPACE }}
spec:
  replicas: 1
  selector:
    tensorflow: jupyter
  template:
    metadata:
      labels:
        tensorflow: jupyter
    spec:
      containers:
        - name: jupyter-server
          image: gcr.io/oscon-tf-workshop/jupyter-server
          ports:
            - name: jupyter
              containerPort: 8888
            - name: tensorboard
              containerPort: 6006
          env:
            - name: PASSWORD
              value: {{ properties['password'] }}
            - name: CLUSTER_CONFIG
              valueFrom:
                configMapKeyRef:
                  name: {{ CLUSTER_CONFIG }}
                  key: clusterconfig
