{% set NAMESPACE = properties['namespace'] or 'default' %}
kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ properties['name'] }}
  namespace: {{ NAMESPACE }}
spec:
    capacity:
        storage: {{ properties['capacity'] }}
    hostPath:
        path: {{ properties['name'].split('-')|join('/') }}
    accessModes:
        - ReadWriteOnce
        - ReadOnlyMany
    persistentVolumeReclaimPolicy: Recycle
