# Copyright 2016 Google Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
{% set SERVER_IMAGE = properties['worker-image'] or 'gcr.io/google-samples/tf-worker:latest' %}
{% set NAMESPACE = properties['namespace'] or 'default' %}
kind: ConfigMap
apiVersion: v1
metadata:
    name: tensorflow-cluster-config
    namespace: {{ NAMESPACE }}
data:
    clusterconfig: >
        {
            {% for job_type, num_tasks in properties['jobs'].iteritems() %}
            "{{ job_type }}": [
                {% for i in range(num_tasks) %}
                "{{ job_type }}-{{ i }}.{{ NAMESPACE }}.svc.cluster.local:8080",
                {% endfor %}
            ],
            {% endfor %}
        }
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: tensorflow-logs
  namespace: {{ NAMESPACE }}
spec:
  accessModes:
    - ReadWriteOnce
    - ReadOnlyMany
  resources:
    requests:
      storage: 10Gi
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: notebooks
  namespace: {{ NAMESPACE }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
{% for job_type, num_tasks in properties['jobs'].iteritems() %}
{% for i in range(num_tasks) %}
kind: Service
apiVersion: v1
metadata:
  name: {{ job_type }}-{{ i }}
  namespace: {{ NAMESPACE }}
spec:
  ports:
    - port: 8080
      name: grpc-server
  selector:
    job: {{ job_type }}
    task: '{{ i }}'
---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: {{ job_type }}-{{ i }}
  namespace: {{ NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      job: {{ job_type }}
      task: '{{ i }}'
  template:
    metadata:
      labels:
        job: {{ job_type }}
        task: '{{ i }}'
    spec:
      containers:
        - name: tf-grpc-server
          image: {{ SERVER_IMAGE }}
          ports:
            - name: grpc-server
              containerPort: 8080
          env:
            - name: POD_NAME
              valueFrom:
                  fieldRef:
                      fieldPath: metadata.name
            - name: CLUSTER_CONFIG
              valueFrom:
                  configMapKeyRef:
                      name: tensorflow-cluster-config
                      key: clusterconfig
{% if job_type == 'master' %}
        - name: jupyter-server
          image: {{ properties['jupyter-config']['server-image'] }}
          args:
            - "--notebook-dir=u'/notebooks'"
            - "--port=80"
          ports:
            - name: jupyter
              containerPort: 80
          env:
            - name: PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ properties['jupyter-config']['secret-name'] }}
                  key: password
            - name: CLUSTER_CONFIG
              valueFrom:
                configMapKeyRef:
                  name: tensorflow-cluster-config
                  key: clusterconfig
          volumeMounts:
            - name: tensorflow-logs
              mountPath: /var/log/tensorflow
            - name: notebooks
              mountPath: /notebooks
        - name: tensorboard-server
          image: gcr.io/tensorflow/tensorflow:latest-devel
          ports:
            - name: tensorboard
              containerPort: 6006
          command:
            - /tensorflow/bazel-bin/tensorflow/tensorboard/tensorboard
            - --logdir=/var/log/tensorflow
          volumeMounts:
            - name: tensorflow-logs
              mountPath: /var/log/tensorflow
              readOnly: true
      volumes:
        - name: tensorflow-logs
          persistentVolumeClaim:
            claimName: tensorflow-logs
        - name: notebooks
          persistentVolumeClaim:
            claimName: notebooks
---
kind: Service
apiVersion: v1
metadata:
  name: jupyter-external
  namespace: {{ NAMESPACE }}
spec:
  type: LoadBalancer
  ports:
    - name: jupyter
      port: 80
    - name: tensorboard
      port: 6006
  selector:
    job: {{ job_type }}
    task: '{{ i }}'
{% endif %}
---
{% endfor %}
{% endfor %}
